
.container {
  display: flex;
  flex-direction: column;
  overflow-x: scroll;
  max-width: 95%;
  padding: 5em 0;
}

.row {
  width: max-content;
}

.key {
  text-transform: uppercase;
  font-size: 2em;
  width: 75px;
  height: 75px;
  margin: 5px;
  background-color: transparent;
  border: 5px solid black;
}
