
:root {
  --max-page-width: min(100vw, 1200px);
  --padding-small: 1em;

  --color-white: #FFFFFF;
  --color-red: #E6194B;
  --color-red-light: #f8507a;
  --color-orange: #F58231;
  --color-orange-light: #f7a468;
  --color-yellow: #FFE119;
  --color-green: #3CB44B;
  --color-green-light: #78f188;
  --color-teal: #42D4F4;
  --color-blue: #4363D8;
  --color-pink: #F032E6;
}

html,
body {
  min-height: 100vh;
  width: 100vw;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
}

main {
  max-width: var(--max-page-width);
  overflow-x: hidden;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-evenly;
}
