
.roundButton {
  appearance: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: transparent;
  white-space: nowrap;
  font-size: 18px;
  border: 0;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  height: min(150px, calc(100vw/4));
  width: min(150px, calc(100vw/4));
  line-height: 1;
  padding-left: 16px;
  padding-right: 16px;
  will-change: box-shadow, transform;
  transition: box-shadow 1ms, transform 1ms;
  transform: translateY(-4px);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.roundButton:active {
  box-shadow:
    rgba(45, 35, 66, .4) 0 2px 4px,
    rgba(45, 35, 66, .3) 0 7px 13px -3px,
    rgba(58, 65, 111, .5) 0 -3px 0 inset;
  transform: translateY(0px);
}
